<% if User.current.allowed_to?(:see_harvest_time, @project) %>
<% harvest_time = HarvestTime.sum(:hours, :conditions => {:issue_id => @issue.id}).to_f %>
<tr>
  <th class="spent-time">Harvest time:</th>
  <td class="spent-hours">
    <% if harvest_time > 0 %>
      <% if User.current.allowed_to?(:view_harvest, @project) %>
        <%= link_to l_hours(harvest_time), {:controller => 'harvest_reports', :project_id => @project, :issue_id => @issue} %>
      <% else %>
        <%= l_hours(harvest_time) %>
      <% end %>
    <% end %>
  </td>
</tr>
<% end %>